<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="1 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <jmxConfigurator/>

    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <encoder>
            <pattern>logback：%d{HH:mm:ss} %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.springframework.web" level="DEBUG"></logger>

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>